<div class="container">
  <%= form_for (@symptom) do |f| %>

    <% if @symptom.errors.any? %>
      <div id= "error_explanation">
      <h2 class= "text-danger"><%= @symptom.errors.count %> errors have been detected</h2>
        <ul>
          <% @symptom.errors.full_messages.each do |msg| %>
            <li class= "text-danger"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="bottuns">
      <div class="check skin_btn btn btn-default"><%= t(".General")%></div>
      <div class="check head_btn btn btn-default"><%= t(".Head")%></div>
      <div class="check ears_btn btn btn-default"><%= t(".Ears")%></div>
      <div class="check eyes_btn btn btn-default"><%= t(".Eyes")%></div>
      <div class="check nose_btn btn btn-default"><%= t(".Nose")%></div>
      <div class="check throat_btn btn btn-default"><%= t(".Throat")%></div>
      <div class="check neck_btn btn btn-default"><%= t(".Neck")%></div>
      <div class="check breasts_btn btn btn-default"><%= t(".Breasts")%></div>
      <div class="check respiratory_btn btn btn-default"><%= t(".Respiratory")%></div>
      <div class="check gastrointestina_btn btn btn-default"><%= t(".Gastrointestina")%></div>
      <div class="check urinary_btn btn btn-default"><%= t(".Urinary")%></div>
      <div class="check vascular_btn btn btn-default"><%= t(".Vascular")%></div>
      <div class="check musculoskeletal_btn btn btn-default"><%= t(".Musculoskeletal")%></div>
      <div class="check neurologic_btn btn btn-default"><%= t(".Neurologic")%></div>
      <div class="check hematologic_btn btn btn-default"><%= t(".Hematologic")%></div>
      <div class="check endocrine_btn btn btn-default"><%= t(".Endocrine")%></div>
      <div class="check psychiatric_btn btn btn-default"><%= t(".Psychiatric")%></div>
    </div>

    <div class="container">
      <div class="dropdown pull-right">
        <% I18n.available_locales.reject{|l| l == I18n.locale}.each do |locale| %>
          <%= link_to("Translation", i18n_url_for(params.merge(locale: locale)), class: "btn btn-info" ) %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="patient-background-info col-md-6 col-md-offset-3">
        <span class="badge badge-info">Your background info</span>

        <div class="review_of_system">
          <div class="categories">

          <%# set_category_namesメソッドでカテゴリー名の配列を参照してView.ja.ymlファイルのcategoryを表示 %>
          <% index = 0 %>
          <% @category_names.each do |category_name| %>
            <h3><%= t(".#{@category_names[index]}")%></h3>

            <table class="table table-striped table-bordered">
            <%# symptomモデルから取得した属性のハッシュ(@symptom_attributes)から %>
            <%# キーのみの配列(@symptom_keys)を利用してハッシュの値を参照する %>
              <% i = 0 %>
              <% n = 0 %>
              <% while n < @symptom_keys.length %> <%# 演算子を <= にすると最後尾の要素が含まれてしまうためにエラーになる %>
                <% key_name = @symptom_keys[i] %> <%# キーの配列の要素を取り出してkey_name変数を作成 %>
                <% if  /^#{@category_names[index]}./ =~ key_name %> <%# if /^General./ =~ key_name %>
                  <% symptom = @symptom_attributes[key_name] %> <%# key_name変数をもとにハッシュの値を取得 %>
                  <tr>
                    <td>
                    <div class= "form-group" >
                      <%= symptom %>
                      <%= f.check_box key_name %>
                    </div>
                    </td>
                  </tr>
                <% end %>
                <% i += 1 %>
                <% n += 1 %>
              <% end %>
            </table >

            <% index += 1 %>
          <% end %>

          </div>
        </div>

        <div class="row pull-right">
          <%= link_to "Back", symptoms_path, class:"btn btn-default" %>
          <%= f.submit 'Register', class: 'btn btn-info' %>
        </div>

      </div>
    </div>

  <% end %>
</div>


<script>

$(function(){

  $('.check').hover(
    function (){
      $(this).removeClass('btn-default');
      $(this).addClass('btn-info');
    },
    function (){
      $(this).removeClass('btn-info');
      $(this).addClass('btn-default');
    }
  );

  $('.skin_btn').click(function(){
      $("html,body").animate({scrollTop:$('.skin').offset().top});
  });

  $('.head_btn').click(function(){
      $("html,body").animate({scrollTop:$('.head').offset().top});
  });
  $('.ears_btn').click(function(){
      $("html,body").animate({scrollTop:$('.ears').offset().top});
  });
  $('.eyes_btn').click(function(){
      $("html,body").animate({scrollTop:$('.eyes').offset().top});
  });
  $('.nose_btn').click(function(){
      $("html,body").animate({scrollTop:$('.nose').offset().top});
  });
  $('.throat_btn').click(function(){
      $("html,body").animate({scrollTop:$('.throat').offset().top});
  });
  $('.neck_btn').click(function(){
      $("html,body").animate({scrollTop:$('.neck').offset().top});
  });
  $('.breasts_btn').click(function(){
      $("html,body").animate({scrollTop:$('.breasts').offset().top});
  });
  $('.respiratory_btn').click(function(){
      $("html,body").animate({scrollTop:$('.respiratory').offset().top});
  });
  $('.gastrointestina_btn').click(function(){
      $("html,body").animate({scrollTop:$('.gastrointestina').offset().top});
  });
  $('.urinary_btn').click(function(){
      $("html,body").animate({scrollTop:$('.urinary').offset().top});
  });
  $('.vascular_btn').click(function(){
      $("html,body").animate({scrollTop:$('.vascular').offset().top});
  });
  $('.musculoskeletal_btn').click(function(){
      $("html,body").animate({scrollTop:$('.musculoskeletal').offset().top});
  });
  $('.neurologic_btn').click(function(){
      $("html,body").animate({scrollTop:$('.neurologic').offset().top});
  });
  $('.hematologic_btn').click(function(){
      $("html,body").animate({scrollTop:$('.hematologic').offset().top});
  });
  $('.endocrine_btn').click(function(){
      $("html,body").animate({scrollTop:$('.endocrine').offset().top});
  });

  // HACK: psychiatricは画面最下部にあるために取得できないため、.endocrineをセレクトにして現状は対応。
  $('.psychiatric_btn').click(function(){
      $("html,body").animate({scrollTop:$('.endocrine').offset().top});
  });
  $('.btn-icon').click(function(){
      $("html,body").animate({scrollTop:$('.container-main-content').offset().top});
  });



});
</script>
