<div class="container">

  <%= form_for (@past_medical_history) do |f| %>

    <% if @past_medical_history.errors.any? %>
      <div id= "error_explanation">
      <h2 class= "text-danger"><%= @past_medical_history.errors.count %> errors have been detected</h2>
        <ul>
          <% @past_medical_history.errors.full_messages.each do |msg| %>
            <li class= "text-danger"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="container">
      <div class="dropdown pull-right">
        <% I18n.available_locales.reject{|l| l == I18n.locale}.each do |locale| %>
          <%= link_to("Translation", i18n_url_for(params.merge(locale: locale)), class: "btn btn-info" ) %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="past_medical_history-info col-md-6 col-md-offset-3">

        <span class="badge badge-info">Your past_medical_history info</span>
          <div class="blockquote">

          <div class= "form-group" >
            <%= f.label :icd_code %>
            <div class="items_arrange">
              <%= f.text_field :icd_code, class:"form-control", placeholder:"ICD-code" %>
            </div>
          </div>

          <div class= "form-group" >
            <%#= f.label :brain_disease_in_the_past,"Have you ever had brain disease in the past?", {class: 'form-label'} %>
            <%= f.label :brain_disease_in_the_past %>
            <div class="items_arrange">
              <%= f.radio_button :brain_disease_in_the_past, true %> Yes
              <%= f.radio_button :brain_disease_in_the_past, false, {} %> No
            </div>
          </div>

          <div class= "form-group" >
            <%#= f.label :heart_disease_in_the_past,"Have you ever had heart disease in the past?", {class: 'form-label'} %>
            <%= f.label :heart_disease_in_the_past %>
            <div class="items_arrange">
              <%= f.radio_button :heart_disease_in_the_past, true %> Yes
              <%= f.radio_button :heart_disease_in_the_past, false, {} %> No
            </div>
          </div>

          <div class= "form-group" >
            <%= f.label :surgery_in_the_past %>
            <div class="items_arrange">
              <%= f.radio_button :surgery_in_the_past, true %> Yes
              <%= f.radio_button :surgery_in_the_past, false, {} %> No
            </div>
          </div>

          <div class= "form-group" >
            <%= f.label :hospitalized_in_the_past %>
            <div class="items_arrange">
              <%= f.radio_button :hospitalized_in_the_past, true %> Yes
              <%= f.radio_button :hospitalized_in_the_past, false, {} %> No
            </div>
          </div>

          <div class= "form-group" >
            <%= f.label :attending_to_a_hospital_now %>
            <div class="items_arrange">
              <%= f.radio_button :attending_to_a_hospital_now, true %> Yes
              <%= f.radio_button :attending_to_a_hospital_now, false, {} %> No
            </div>
          </div>

        </div>

        <div class="row pull-right">
            <%= link_to "Back", past_medical_histories_path, class:"btn btn-default" %>
            <%= f.submit 'Register', class: 'btn btn-info' %>
          </div>

      </div>
    </div>
  <% end %>
</div>
