<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>past_medical_histories#index</h1>
      </div>
    </div>

    <% if @past_medical_history.blank? %>
      <div class="row">
        <div class="no-info-page col-md-10 col-md-offset-1">
          <h2>Please register your background infomation.</h2>

        </div>
      </div>
      <div class="row pull-right">
        <%= link_to "Back", root_path, class:"btn btn-default" %>
        <%= link_to 'Register', new_past_medical_history_path, class: "btn btn-info" %>
      </div>

    <% else %>

    <div class="container">
      <div class="translation col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
      <div class="dropdown pull-right">
        <% I18n.available_locales.reject{|l| l == I18n.locale}.each do |locale| %>
          <%= link_to("Translation", i18n_url_for(params.merge(locale: locale)), class: "btn btn-info" ) %>
        <% end %>
      </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="past-medical-history-info col-sm-10 col-md-8 col-lg-6 mx-auto">
          <span class="badge badge-info mb-3">Your background info</span>
            <div class="blockquote ">

              <div class= "form-group" >
                <strong><%= @icd_code %></strong>
                <div class="items_arrange">
                  <%= @past_medical_history.icd_code %>
                </div>
              </div>

              <div class= "form-group" >
                <strong><%= @brain_disease_in_the_past %></strong>
                <div class="items_arrange">
                  <% if @past_medical_history.brain_disease_in_the_past == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.brain_disease_in_the_past == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>

              <div class= "form-group" >
                <strong><%= @heart_disease_in_the_past %></strong>
                <div class="items_arrange">
                  <% if @past_medical_history.heart_disease_in_the_past == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.heart_disease_in_the_past == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>

              <div class= "form-group" >
                <strong><%= @surgery_in_the_past %></strong>
                <div class="items_arrange">
                  <% if @past_medical_history.surgery_in_the_past == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.surgery_in_the_past == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>

              <div class= "form-group" >
                <strong><%= @hospitalized_in_the_past %></strong>
                <div class="items_arrange">
                  <% if @past_medical_history.hospitalized_in_the_past == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.hospitalized_in_the_past == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>

              <div class= "form-group" >
                <strong><%= @attending_to_a_hospital_now %></strong>
                <div class="items_arrange">
                  <% if @past_medical_history.attending_to_a_hospital_now == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.attending_to_a_hospital_now == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>

            </div>
            <div class="row pull-right">
              <%= link_to "Back", root_path, class:"btn btn-default" %>
              <%= link_to 'Delete', past_medical_history_path(@past_medical_history), data: { confirm: 'Are you sure to delete?'}, class: "btn btn-default" %>
              <%= link_to 'Edit', edit_past_medical_history_path(@past_medical_history), class: "btn btn-info" %>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
