    <% if notice.nil? == false %>
      <div class="alert alert-success col-md-6 col-md-offset-3" role="alert">

        <div class="container">
          <div class="alert-icon">
            <i class="now-ui-icons ui-2_like"></i>
          </div>
          <strong>Well done!</strong> <%= notice %><%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </span>
          </button>
        </div>
      </div>

    <% end %>

    <section class="main-header">
      <h1>Make your medical communications <br /> more efficient</h1>
    </section>

    <div class="content-1">
      <img src="<%= asset_path "docter2.jpg" %>">
    </div>

    <section class="container-fluid">
        <h2><span class="under">What can you do?</span></h2>
        <div class="function-images">
        <div class="row">
          <div class="col-md-4">
            <div class="function-image">
              <img src="<%= asset_path "bg.png" %>">
              <div class="function-text text-muted">
                <strong><p>Make your medical <br> communications smoother </p></strong>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="function-image">
              <img src="<%= asset_path "medi.png" %>">
              <div class="function-text text-muted">
                <strong><p>Register your medical <br> infomation in advance </p></strong>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="function-image">
              <img src="<%= asset_path "ros.png" %>">
              <div class="function-text text-muted">
                <strong><p>Answer your symptoms  <br> and translate them </p></strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-2 col-xs-offset-5 col-md-2 col-md-offset-5">
        <%= link_to "Get Started", new_user_registration_path, class:"btn btn-info btn-lg" %>
      </div>


    </section>

    <div class="container-main-last col-sm-12 col-md-12 col-lg-12">
      <div class="container-main-content col-sm-12 col-md-12 col-lg-12">

        <%#= link_to "backgrounds_index", backgrounds_path %>
      </div>
    </div>
