<%= form_for @medicine, :url => {:action => 'confirm'} do |f| %>

  <% if @medicine.errors.any? %>
    <div id= "error_explanation" >
      <h2> <%= @medicine.errors.count %>件のエラーがあります</h2>
      <ul>
        <%= @medicine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="medicine-form col-md-4">
    <div class= "form-group">
      <%= f.label :Medicine_name %><span class="required-item">*</span>
      <div class="items_arrange">
        <%= f.text_field :medicine_name, class:"form-control", placeholder:"Medicine name" %>
      </div>
    </div>

    <div class= "form-group">
      <div class="items_arrange">
        <%= f.file_field :medicine_img, id: :medicine_img %>
        <%= f.hidden_field :medicine_img_cache %> <%# 確認画面から新規作成画面に戻った時に情報を保持するための記述 %>
        <%= f.hidden_field :user_id %>
      </div>
    </div>

    <div class="row pull-right">
      <%= f.submit 'Add', class: 'btn btn-info btn-sm' %>
    </div>
  </div>

<% end %>
