<div class="container">

    <%= form_for (@patient_background) do |f| %>

      <% if @patient_background.errors.any? %>
        <div id= "error_explanation">
        <h2 class= "text-danger"><%= @patient_background.errors.count %> errors have been detected</h2>
          <ul>
            <% @patient_background.errors.full_messages.each do |msg| %>
              <li class= "text-danger"><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="container">
        <div class="translation col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
        <div class="dropdown pull-right">
          <% I18n.available_locales.reject{|l| l == I18n.locale}.each do |locale| %>
            <%= link_to("Translation", i18n_url_for(params.merge(locale: locale)), class: "btn btn-info" ) %>
          <% end %>
        </div>
        </div>
      </div>

  <div class="container">
    <div class="row">
      <div class="patient-background-info col-sm-10 col-md-8 col-lg-6 mx-auto">
        <span class="badge badge-info mb-3">Your background info</span>
          <div class="blockquote">

            <div class= "form-group" >
              <%= f.label :name %><span class="required-item">*</span>
              <div class="items_arrange">
                <%= f.text_field :name, class:"form-control", placeholder:"Name" %>
              </div>
            </div>

            <div class= "form-group" >
              <%= f.label :birthday %><span class="required-item">*</span>
              <div class="items_arrange">
                <%= f.date_select :birthday, :start_year => 1918, :end_year => 2020, :use_month_numbers => true, :include_blank => true, :date_separator => "-"%>
                <p><%= t('patient_backgrounds.index.year-month-day') %></p>
              </div>
            </div>

            <div class= "form-group" >
              <%= f.label :sex %><span class="required-item">*</span>
              <div class="items_arrange">
                <%= f.select :sex, {"Male" => "Male", "Female" => "Female"} %>
              </div>
            </div>

            <%# TODO: sm/mdサイズでform-groupがblockquate枠からはみ出てしまうので修正 %>
            <div class= "form-group" >
              <%= f.label :country %><span class="required-item">*</span>
              <div class="items_arrange">
                <%# enumを定義して選択肢を作成。選択肢を変更したい場合はpatient_backgroundのモデルから修正 %>
                <%= f.select :country, PatientBackground.countries.keys.to_a %>
              </div>
            </div>

            <div class= "form-group" >
              <%= f.label :hight %><span class="required-item">*</span>
              <div class="items_arrange">
                <%= f.number_field :hight, in: 50..250 %><span>cm</span>
              </div>
            </div>

            <div class= "form-group" >
              <%= f.label :weight %><span class="required-item">*</span>
              <div class="items_arrange">
                <%= f.number_field :weight, in: 30..150 %><span>kg</span>
              </div>
            </div>

            <div class= "form-group" >
              <%= f.label :occupation %>
              <div class="items_arrange">
                <%= f.text_field :occupation, class:"form-control", placeholder:"Occupation" %>
              </div>
            </div>

            <div class= "form-group" >
              <%= f.label :religion %>
              <div class="items_arrange">
                <%= f.text_field :religion, class:"form-control", placeholder:"Religion" %>
              </div>
            </div>

            <div class= "form-group" >
              <%= f.label :notes %>
              <div class="items_arrange">
                <%= f.text_area :notes, class:"form-control", placeholder:"Notes" %>
              </div>
            </div>

          </div>

          <div class="row pull-right">
            <%= link_to "Back", patient_backgrounds_path, class:"btn btn-default" %>
            <%= f.submit 'Register', class: 'btn btn-info' %>
          </div>
        <% end %> <%# form_for (@patient_background) do |f| %>
        </div> <!-- patient-background-info -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- container -->
