<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>patient_backgrounds#index</h1>
        <%= notice %>
      </div>
    </div>

  <%# current_user.patient_backgroundは[]空配列のため、blank?メソッドで処理する %>
  <% if @patient_background.blank? %>
    <div class="row">
      <div class="no-info-page col-md-10 col-md-offset-1">
        <h2>Please register your background infomation.</h2>
      </div>
    </div>
    <div class="row pull-right">
      <%= link_to "Back", root_path, class:"btn btn-default" %>
      <%# patient_background情報を登録しているかしていないかで画面上に表示させるボタンを変更している %>
      <%= link_to 'Register', new_patient_background_path, class: "btn btn-info" %>
    </div>

  <% else %>

  <div class="container">
    <div class="dropdown pull-right">
      <% I18n.available_locales.reject{|l| l == I18n.locale}.each do |locale| %>
        <%= link_to("Translation", i18n_url_for(params.merge(locale: locale)), class: "btn btn-info" ) %>
      <% end %>
    </div>
  </div>

    <div class="row">
      <div class="patient-background-info col-md-6 col-md-offset-3">
        <span class="badge badge-info">Your background info</span>
          <div class="blockquote ">

            <div class= "form-group" >
              <strong><%= @name %></strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.name %>
              </div>
            </div>

            <%# TODO:  現状はyear/month/dayと表示されるため、y年/m月/d日と表示するようにコードを変更する %>
            <div class= "form-group" >
              <strong><%= @birthday %></strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.birthday %>
                <p><%= t('patient_backgrounds.index.year-month-day') %></p>
              </div>
            </div>

            <%# Age項目は生年月日から自動算出される設計でカラムに登録していないためView.ymlを参照して翻訳 %>
            <div class= "form-group" >
              <strong><%= t('patient_backgrounds.index.age') %></strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @age_of_patient %>
              </div>
            </div>

            <div class= "form-group" >
              <strong><%= @sex %></strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.sex %>
              </div>
            </div>
            <div class= "form-group" >
              <strong><%= @country %></strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.country %>
              </div>
            </div>
            <div class= "form-group" >
              <strong><%= @hight %></strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.hight %>&nbsp;<span>cm</span>
              </div>
            </div>
            <div class= "form-group" >
              <strong><%= @weight %></strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.weight %>&nbsp;<span>kg</span>
              </div>
            </div>
            <div class= "form-group" >
              <strong><%= @occupation %></strong>
              <div class="items_arrange">
                <%= @patient_background.occupation %>
              </div>
            </div>
            <div class= "form-group" >
              <strong><%= @religion %></strong>
              <div class="items_arrange">
                <%= @patient_background.religion %>
              </div>
            </div>
            <div class= "form-group" >
              <strong><%= @notes %></strong>
              <div class="items_arrange">
                <%= @patient_background.notes %>
              </div>
            </div>
          </div>

          <div class="row pull-right">
            <%= link_to "Back", root_path, class:"btn btn-default" %>
            <%= link_to 'Delete', patient_background_path(@patient_background), method: :delete, data: { confirm: 'Are you sure to delete?'}, class: "btn btn-default" %>
            <%= link_to 'Edit', edit_patient_background_path(@patient_background), class: "btn btn-info" %>
          </div>
      </div> <!-- patient-background-info -->
    </div> <!-- row -->
  <% end %> <%# if @patient_background.nil? %>
  </div>  <!-- container -->
</div>  <!-- container-fluid -->
