<div class="container-fluid">

  <div class="container">
    <div class="row">
      <div class="title">
        <h1>patient_backgrounds#index</h1>
      </div>
    </div>

    <div class="row">
      <div class="patient-background-info col-md-6 col-md-offset-3">
      <% if @patient_background.nil? == false %>

        <span class="badge badge-info">Your background info</span>
          <div class="blockquote ">

            <div class= "form-group" >
              <strong> Name </strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.name %>
              </div>
            </div>

            <%# TODO:  現状はyear/month/dayと表示されるため、y年/m月/d日と表示するようにコードを変更する %>
            <div class= "form-group" >
              <strong> Birthday </strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.birthday %>
                <span> Year/Month/Day </span>
              </div>
            </div>

            <div class= "form-group" >
              <strong> Sex </strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.sex %>
              </div>
            </div>
            <div class= "form-group" >
              <strong> Country </strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.country %>
              </div>
            </div>
            <div class= "form-group" >
              <strong> Hight </strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.hight %>
              </div>
            </div>
            <div class= "form-group" >
              <strong> Weight </strong><span class="required-item">*</span>
              <div class="items_arrange">
                <%= @patient_background.weight %>
              </div>
            </div>
            <div class= "form-group" >
              <strong> Occupation </strong>
              <div class="items_arrange">
                <%= @patient_background.occupation %>
              </div>
            </div>
            <div class= "form-group" >
              <strong> Religion </strong>
              <div class="items_arrange">
                <%= @patient_background.religion %>
              </div>
            </div>
            <div class= "form-group" >
              <strong> Notes </strong>
              <div class="items_arrange">
                <%= @patient_background.notes %>
              </div>
            </div>
          </div>

        <div class="row pull-right">
          <%= link_to "Back", root_path, class:"btn btn-default" %>
          <% if @patient_background.nil? %>
            <%= link_to 'Register', new_patient_background_path, class: "btn btn-info" %>
          <% else %>
            <%= link_to 'Edit', edit_patient_background_path(@patient_background), class: "btn btn-info" %>
          <% end %>
        </div>

      <% end %> <%# if @patient_background.nil? == false %>
      </div> <!-- patient-background-info -->
    </div> <!-- row -->


  </div>  <!-- container -->
</div>  <!-- container-fluid -->
