<div class="container-fluid">
  <div class="container">
    <div class="row sign-page">

      <div class="card card-signup" data-background-color="blue">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form class="form" method="" action="">

          <div class="header text-center">
            <h4 class="title title-up">Log in</h4>
              <div class="social-line">
                <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
          </div>

          <div class="card-body">

            <div class="input-group form-group-no-border">
              <span class="input-group-addon">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
            </div>

            <div class="input-group form-group-no-border">
              <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
              </span>
              <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

          </div>

          <div class="footer text-center">
            <div class="actions">
            <%= f.submit "Log in", class:"btn btn-neutral btn-round btn-lg " %>
            </div>

            <div class="signup_link">
            <%= render "devise/shared/links" %>
            </div>

          </div>

        <% end %>

      </div>

    </div>
  </div>
</div>
