<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <title>Pocketkarte</title>

  <%= stylesheet_link_tag    'normalize.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
  <!--     setting for using bootstrap Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

  <!-- (Now Ui Kit) Downloaded CSS Files -->
  <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'now-ui-kit', media: 'all', 'data-turbolinks-track' => true %>

  <!--     setting for using bootstrap jquery and so on     -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- jQuery本体を読み込んでからファイルを読み込むために下に記載 -->
  <%= javascript_include_tag 'now-ui-kit', 'data-turbolinks-track' => true %>


</head>
<body>
  <header>
    <nav class="navbar nav-primary navbar-expand-lg bg-info">
      <div class="container">
        <div class="navbar-translate">
          <%= link_to "Pocket Karte", landing_path, class:"navbar-brand" %>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
     	        <span class="navbar-toggler-bar bar1"></span>
  	          <span class="navbar-toggler-bar bar2"></span>
  	          <span class="navbar-toggler-bar bar3"></span>
 	          </button>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
    	    <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to "Menu", root_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Background", patient_backgrounds_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Medicines", medicines_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Allergies", allergies_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Past medical History", past_medical_histories_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Symptom", symptoms_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to "Account setting", edit_user_registration_path, class:"nav-link" %>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path, class:"nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link" %>
              <% else %>
                <%= link_to "Log in", new_user_session_path, class:"nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#pablo">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="wrapper_with_footer">
    <div class="wrapper">

    <%= yield %>
    </div>

    <footer>
      <p>運営会社 株式会社 Dr.Tokyo</p>
      <p>© 2017-2018 Copyright Dr.Tokyo Corp.</p>
    </footer>
  </div>

</body>
</html>
